<template id="main-block-template2">
    <div name="main-block" data-block-seq-id="" class="main-block show">
        <div name="main-block-info" style="margin-bottom: 15px">
            <input name="main-block-id" type="hidden" value="">
            <input name="start-page" type="number"
                   style="font-size:1rem; display: inline-block;width: 50px;text-align: right" min="0">p
            ~
            <input name="end-page" type="number" style="font-size:1rem; display: inline-block;width: 50px;" min="0">p
            <button name="add-main-block-btn" class="button is-small"
                    style="display: inline-block;margin:0 10px 0 10px">
                <i class="fas fa-plus"></i>
            </button>
            <button name="remove-main-block-btn" class="button is-small" style="display: inline-block;">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
</template>