<div name="observation" class="columns is-gapless sub-block" style="vertical-align: top">
    <div class="column" style="text-align: right;margin-right: 10px">
        <input type="checkbox">
    </div>
    <div class="column is-11">
        <textarea class="textarea is-info" placeholder="본 것" rows="2"></textarea>
    </div>
    <div class="column" style="text-align: left;margin-left: 10px">
        <div style="margin-bottom: 10px">
            <button name="add-sub-block-btn" class="button is-small" ><i class="fas fa-plus"></i></button>
        </div>
        <div>
            <button name="remove-sub-block-btn" class="button is-small" ><i class="fas fa-minus"></i></button>
        </div>
    </div>
</div>