.main-block {
    margin: 10px;
    transition: opacity 400ms;
    opacity: 0;
}

.main-block.show {
    opacity: 1;
}

input[type=number] {
    border-style: solid;
    border-color: #dbdbdb;
    border-width: 1px;
}

input[type=number]:hover {
    border-color: #b5b5b5;
}

/* 체크박스는 CSS를 사용한 일반적인 방법으로 커스텀할 수 없고 체크박스 모양과 동일한 폼을 만들어
내가 사용할 체크박스의 상태에 따라 만들어진 폼을 체크박스처럼 사용하는 방법을 쓴다*/
input[type="checkbox"] {
}