<!DOCTYPE html>
<html lang="en">
{{> header }}
<body>
<div class="container">
    <div class="article-info">
        <span class="title"></span>
        <span class="writer"></span>
        <span class="date"></span>
    </div>
    <div class="article-content" id="article-content">
        <!-- mainBlock을 oooo+enter 조합으로 추가할 수 있고 자동으로 커서이동 -->
        <!-- subBlock을 ooo+enter 조합으로 추가할 수 있고 자동으로 커서 이동 -->
        <div class="main-block show">
            <div style="margin-bottom: 15px">
                <input type="number" style="display: inline-block;width: 60px;text-align: right" name="start" min="0">p
                ~
                <input type="number" style="display: inline-block;width: 60px;" name="end" min="0">p
                <button style="display: inline-block;margin:0 10px 0 10px" name="add-main-block">
                    <i class="fas fa-plus"></i>
                </button>
                <button style="display: inline-block;" name="remove-main-block">
                    <i class="fas fa-minus"></i>
                </button>
            </div>
            <div class="columns is-gapless sub-block" style="vertical-align: top" name="observation">
                <div class="column" style="text-align: right;margin-right: 10px">
                    <input type="checkbox">
                </div>
                <div class="column is-four-fifths">
                    <textarea class="textarea is-info" placeholder="본 것" rows="2"></textarea>
                </div>
                <div class="column" style="text-align: left;margin-left: 10px">
                    <div style="margin-bottom: 10px">
                        <button><i class="fas fa-plus"></i></button>
                    </div>
                    <div>
                        <button><i class="fas fa-minus"></i></button>
                    </div>
                </div>
            </div>
            <div class="columns is-gapless sub-block" style="vertical-align: top" name="interpretation">
                <div class="column" style="text-align: right;margin-right: 10px">
                    <input type="checkbox">
                </div>
                <div class="column is-four-fifths">
                    <textarea class="textarea is-success" placeholder="깨달은 것" rows="2"></textarea>
                </div>
                <div class="column" style="text-align: left;margin-left: 10px">
                    <div style="margin-bottom: 10px">
                        <button><i class="fas fa-plus"></i></button>
                    </div>
                    <div>
                        <button><i class="fas fa-minus"></i></button>
                    </div>
                </div>
            </div>
            <div class="columns is-gapless sub-block" style="vertical-align: top" name="application">
                <div class="column" style="text-align: right;margin-right: 10px">
                    <input type="checkbox">
                </div>
                <div class="column is-four-fifths">
                    <textarea class="textarea is-danger" placeholder="적용할 것" rows="2"></textarea>
                </div>
                <div class="column" style="text-align: left;margin-left: 10px">
                    <div style="margin-bottom: 10px">
                        <button><i class="fas fa-plus"></i></button>
                    </div>
                    <div>
                        <button><i class="fas fa-minus"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
{{> articleTemplates }}
</html>