<!DOCTYPE html>
<html lang="en">
{{> header }}
<body>
<section class="section">
    <div class="container">
        <h1 class="title">
            Observation Interpretation Application
        </h1>
        <p class="subtitle">
            Let's write your insight with O.I.A.
        </p>
        <button class="button" onclick="createArticle()">WRITE</button>
    </div>
</section>
</body>
<footer>
    <script>
        function createArticle() {
            var jqXHR = $.ajax({
                type: "POST",
                url: '/articles/new',
            }).done(function (data, textStatus, xhr) {
                    window.location.href = xhr.getResponseHeader("Location");
                }
            );
        }
    </script>
</footer>
</html>