<!DOCTYPE html>
<html lang="en">
{{> header }}
<body>
<section class="section">
    <div class="container" style="text-align: center">
        <div name="title">
            <h1 class="title">
                <p>Observation Interpretation Application</p>
            </h1>
            <p class="subtitle">
            <p>인사이트 넘치는 글을 쓰고</p>
            <p>공유하고 싶은 부분만 공유하세요:)</p>
            </p>
        </div>
        <div name="menu" style="margin-top:20px">
            {{#if loginMember}}
            <button class="button" onclick="logout()">로그아웃</button>
            {{else}}
            <button class="button" onclick="window.location.href = '/login'">로그인</button>
            <button class="button" onclick="window.location.href = '/members/join'">회원가입</button>
            {{/if}}
            <button class="button" onclick="createArticle()">글쓰기</button>
            {{#if loginMember}}
            <button class="button" onclick="deleteArticle()">글삭제</button>
            {{/if}}
        </div>
        {{#if loginMember}}
        <div name="article-board-title" class="title" style="margin-top:20px">
            내가 쓴 글
        </div>
        <div name="article-board">
            <table class="table is-fullwidth is-hoverable is-striped">
                <thead>
                <th colspan="2">No</th>
                <th class="is-7">Title</th>
                <th>Writer</th>
                </thead>
                <tbody>
                {{#each articles}}
                <tr>
                    <td>
                        <input name="checkbox" type="checkbox">
                    </td>
                    <td name="article-id">{{this.id}}</td>
                    <td><a href="/articles/{{this.id}}">{{this.articleInfo.title}}</a></td>
                    <td>{{this.articleInfo.writer.name}}</td>
                </tr>
                </tbody>
                {{/each}}
            </table>
            <nav name="board-navigation" class="pagination" role="navigation" aria-label="pagination">
                <ul class="pagination-list" style="justify-content: center">
                    <!-- handlebars의 if의 반대는 !if가 아니라 unless-->
                    {{#unless (isFirst pages)}}
                    <li><a class="pagination-previous" href="/main?page={{pages.previousPage}}">Previous</a></li>
                    {{/unless}}
                    {{#each pages.block}}
                    <li>
                        <a name="pagination-item" class="pagination-link" href="/main?page={{this}}">{{this}}</a>
                    </li>
                    {{/each}}
                    {{#unless (isLast pages)}}
                    <li><a class="pagination-next" href="/main?page={{pages.nextPage}}">Next page</a></li>
                    {{/unless}}

                </ul>
            </nav>
        </div>
        {{/if}}
    </div>
</section>
</body>
<footer>
    <script src="../common.js"></script>
</footer>
</html>