<!DOCTYPE html>
<html lang="en">
{{> header }}
<body>
<section class="section">
    <div class="container">
        <div name="title">
            <h1 class="title">
                Observation Interpretation Application
            </h1>
            <p class="subtitle">
                Let's write your insight with O.I.A.
            </p>
        </div>
        <div name="menu">
            {{#if loginMember}}
            <button class="button" onclick="logout()">로그아웃</button>
            {{else}}
            <button class="button" onclick="window.location.href = '/login'">로그인</button>
            <button class="button" onclick="window.location.href = '/members/join'">회원가입</button>
            {{/if}}
            <button class="button" onclick="createArticle()">WRITE</button>
        </div>
        {{#if loginMember}}
        <div name="article-board-title" class="title">
            내가 쓴 글
        </div>
        <div name="article-board">
            <table class="table is-fullwidth is-hoverable is-striped">
                <thead>
                <th>No</th>
                <th class="is-7">Title</th>
                <th>Writer</th>
                </thead>
                <tbody>
                {{#each articles}}
                <tr>
                    <td>{{this.id}}</td>
                    <td><a href="/articles/{{this.id}}">{{this.articleInfo.title}}</a></td>
                    <td>{{this.articleInfo.writer.name}}</td>
                </tr>
                </tbody>
                {{/each}}
            </table>
            <nav name="board-navigation" class="pagination" role="navigation" aria-label="pagination">
                <ul class="pagination-list" style="justify-content: center">
                    <!-- handlebars의 if의 반대는 !if가 아니라 unless-->
                    {{#unless (isFirst pages)}}
                        <li><a class="pagination-previous" href="/main?page={{pages.prevPage}}">Previous</a></li>
                    {{/unless}}
                    {{#each pages.currentBlock}}
                    <li>
                        <a name="pagination-item" class="pagination-link" href="/main?page={{offset this}}">{{this}}</a>
                    </li>
                    {{/each}}
                    {{#unless (isLast pages)}}
                    <li><a class="pagination-next" href="/main?page={{pages.nextPage}}">Next page</a></li>
                    {{/unless}}

                </ul>
            </nav>
        </div>
        {{/if}}
    </div>
</section>
</body>
<footer>
    <script src="../common.js"></script>
    <script>
        function createArticle() {
            $.ajax({
                type: "POST",
                url: '/articles/new'
            })
                .done(function (data, textStatus, xhr) {
                    window.location.href = xhr.getResponseHeader("Location");
                }).fail(function (jqXHR, textStatus, errorThrown) {
                alert(jqXHR.responseText);
            });
        }
    </script>
</footer>
</html>