<!DOCTYPE html>
<html lang="en">
{{> header }}
<body>
<section class="hero is-primary is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <div id="join-form" class="box">
                        <div class="field">
                            <label for="" class="label">Name</label>
                            <div class="control has-icons-left has-icons-right">
                                <input name="name" type="text" placeholder="이름" class="input" required>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-user"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="label">Email</label>
                            <div class="control has-icons-left has-icons-right">
                                <input name="email" type="email" placeholder="text@sharing.com" class="input"
                                       onkeyup="checkValidEmail(event)" required>
                                <span class="icon is-small is-left">
                                    <i class="fa fa-envelope"></i>
                                </span>
                                <span class="icon is-small is-right">
                                    <i name="isValid" class="fas fa-check has-text-success" style="display: none"></i>
                                    <i name="isNotValid" class="fas fa-times has-text-danger" style="display: none"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="label">Password</label>
                            <div class="control has-icons-left has-icons-right">
                                <input name="password-original" type="password" placeholder="*******" class="input"
                                       required>
                                <span class="icon is-small is-left"><i class="fa fa-lock"></i></span>
                            </div>
                            <div class="control has-icons-left has-icons-right">
                                <input name="password-confirmed" type="password" placeholder="*******" class="input"
                                       required onkeyup="checkValidPassword(event)">
                                <span class="icon is-small is-right">
                                    <i name="isValid" class="fas fa-check has-text-success" style="display: none"></i>
                                    <i name="isNotValid" class="fas fa-times has-text-danger" style="display: none"></i>
                                </span>
                            </div>
                        </div>
                        <div class="field">
                            <button class="button is-success" onclick="join()">
                                회원가입
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<footer>
    <script src="../common.js"></script>
</footer>
</html>