<!DOCTYPE html>
<html lang="en">
{{> header }}
<body>
<section class="hero is-primary is-fullheight">
    <div class="hero-body">
        <div class="container">
            <div class="columns is-centered">
                <div class="column is-5-tablet is-4-desktop is-3-widescreen">
                    <form id="loginForm" method="post" class="box">
                        <div class="field">
                            <label for="" class="label">Email</label>
                            <div class="control has-icons-left">
                                <input name="email" type="email" placeholder="text@sharing.com" class="input" value="david@gmail.com" required>
                                <span class="icon is-small is-left">
                  <i class="fa fa-envelope"></i>
                </span>
                            </div>
                        </div>
                        <div class="field">
                            <label for="" class="label">Password</label>
                            <div class="control has-icons-left">
                                <input name="password" type="password" placeholder="*******" class="input" value="david" required>
                                <span class="icon is-small is-left">
                  <i class="fa fa-lock"></i>
                </span>
                            </div>
                        </div>
                        <div class="field">
                            <button class="button is-success" onclick="login()">
                                로그인
                            </button>
                            <button class="button is-info" onclick="loginGuest()">
                                게스트로 로그인
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
<footer>
    <script src="../common.js"></script>
</footer>
</html>